
  black = #050406 ;
  white = #ffffff ;
  primary-ide = #DC0933;
  primary-aeronautico = #2524D2 ; 
  light-aeronautico = #7C7CE4;
  primary-agricola = #42AB4A ;
  light-agricola = #8ECD92;
  primary-alimentaria = #826E2D ;
  light-alimentaria = #DCD2C6 ;
  primary-pesca-agricultura = #3CC8C8 ;
  light-pesca-agricultura = #8ADEDE ;
  primary-turismo-rural = #640078 ;
  light-turismo-rural = #A266AE ;
  primary-veterinaria = #FF6423 ;
  light-veterinaria = #FF6423 ;
  g-color = #8B8F9D ;
  
  backg-footer = #6B6B6B;
  bg-header = #191D1F;
  


media_queries = {
  mobile  : "(max-width: 600px)",
  tablet  : "only screen and (min-width: 601px) and (max-width: 800px)",
  ipad  : "only screen and (min-device-width : 768px) and (max-device-width : 1024px)",
  desktop : "only screen and (min-width: 801px)",
  desktop-lap : "only screen and (max-width: 1700px)",
  xs : "(max-width: 575.98px)",
  sm : "only screen and (min-width: 576px) and (max-width: 767.98px)",
  md : "only screen and (min-width: 768px) and (max-width: 991.98px)",
  lg : "only screen and (min-width: 992px) and (max-width: 1199.98px)",
  xl : "only screen and (min-width: 1200px)",
  lapt : "only screen and (min-width: 1200px) and (max-width: 1700px)",
  cell-sm : "(max-width: 767px) "
}